body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #1f70b7;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #1f70b7;
  font-weight: 400;
  margin-bottom: 30px;
}
.navbar {
  margin-bottom: 0;
  background-color: #1f70b79c;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #1f70b7 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff9f9;
}
.navbar-default .navbar-toggle {
  border-color: #f1f1f1;
  color: #fff !important;
}  
.jumbotron {
  background-color: #1f70b7;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif; 
}

.btn {
  padding: 10px 20px;
  background-color: #1f70b7;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
strong {
  font-weight: 700;
  color: #1f70b7;
}

.container-fluid {
  padding: 60px 50px;
}

/* .container-fluides{
  margin-left: 20%;
  margin-right: 20%;
} */
.box-containt-skill{
  margin: 50% 60%
}

@media (max-width: 600px) {
.carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
};
}
/* zare */
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #1f70b7;
}

.logo-small{
color: #1f70b7;
font-size : 50px;
}
.logo{
color: #1f70b7;
font-size: 200px;
}
.thumbnail {
padding: 0 0 5px 0;
border: none;
border-radius: 0;    
}
.thumbnail img {
width: 100%;
height: 100%;
margin-bottom: 10px; 
}
.fs1{
font-size: 30px;
text-align: right;
}

.fs1 ul{
margin: 5px 0 0 0;
padding: 0
}
.fs1 li{
display: inline-block;
}

.fs2{
  font-size: 30px;
  text-align: center;
  }
  
.fs2 ul{
  margin: 5px 0 0 0;
  padding: 0
  }
  
.fs2 li{
  display: inline-block;
  margin: 6px;
  }

.contact{
  align-content: center;
}
.contact li {
  display: block;
}

.text{
  text-align: justify;
  margin: 15px;
}

.container-fluid {
  padding: 60px 100px;
}
/* .container-fluid {
  padding: 60px 50px 0px 50px;
} */

.textIcon{
  font-size: 15px;
  color:  #1f70b7;
}

.avatar{
  border-radius: 50%;
}


@media (max-width: 600px) {
.carousel-caption {
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
}
}


@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 60px 50px;
  }
.box-conteiner-social{ 

  }

.icon-habilitate{
  float: left;
  width: 50%;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: -40px;
}
.btn-lg {
    width: 100%;
    margin-bottom: 35px;
}
}
@media screen and (max-width: 480px) {
  .container-fluid {
    padding: 60px 50px;
  }
  .navbar-brand img{
    width: 30px;
  }

}