body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.navbar {
  margin-bottom: 0;
  background-color: #4ecbf5;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #4ecbf5 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}  
.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif; 
}

.btn {
  padding: 10px 20px;
  background-color: #0ab4ec;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #0ab4ec;
  background-color: #fff;
  color: #000;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  padding: 50 0 0 0px;
  margin: auto;
}
.carousel-caption h3 {

  color: #fff !important;
}
@media (max-width: 600px) {
.carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
};
}
/* zare */
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #4ecbf5;
}

.logo-small{
color: #4ecbf5;
font-size : 50px;
}
.logo{
color: #4ecbf5;
font-size: 200px;
}
.thumbnail {
padding: 0 0 5px 0;
border: none;
border-radius: 0;    
}
.thumbnail img {
width: 100%;
height: 100%;
margin-bottom: 10px; 
}
.fs1{
font-size: 30px;
text-align: right;
}

.fs1 ul{
margin: 5px 0 0 0;
padding: 0
}
.fs1 li{
display: inline-block;
}

.contact{
  align-content: center;
}
.contact li {
  display: block;
  padding: 10px;
}
.social{
  text-align: center;
}

.text{
  text-align: justify;
  margin: 15px;
}

.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
.carousel-caption {
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
}
}

@keyframes slide {
0% {
  opacity: 0;
  transform: translateY(70%);
} 
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
} 
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}
@media screen and (max-width: 768px) {
.col-sm-4 {
  text-align: center;
  margin: 25px 0;
}
.btn-lg {
    width: 100%;
    margin-bottom: 35px;
}
}
@media screen and (max-width: 480px) {
.logo {
    font-size: 150px;
}
}